name: Keep Supabase Alive

on:
  schedule:
    # Runs at 00:00 UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual triggering

jobs:
  ping-db:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install Postgres Client
        run: sudo apt-get install -p postgresql-client

      - name: Ping Database
        run: |
          # Simple query to wake the DB
          PGPASSWORD=${{ secrets.DB_PASSWORD }} psql -h ${{ secrets.DB_HOST }} -U ${{ secrets.DB_USER }} -d postgres -c "SELECT 1;"